<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.softcits.auth.mapper.MbgUserRoleMapper">
	<resultMap id="UsersAndRolesResultMap"
		type="org.softcits.auth.model.MbgUserAndRole">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="username" jdbcType="VARCHAR"
			property="username" />
		<result column="passwd" jdbcType="VARCHAR" property="passwd" />
		<result column="create_time" jdbcType="TIMESTAMP"
			property="createTime" />
		<result column="state" jdbcType="VARCHAR" property="state" />
		<result column="role_id" jdbcType="INTEGER" property="roleId" />
		<result column="rolename" jdbcType="INTEGER"
			property="rolename" />
	</resultMap>
	<select id="getAllUsersAndRoles"
		resultMap="UsersAndRolesResultMap">

		select us.id,username,passwd,create_time,state,role_id,rolename
		from users us
		left join roles rs
		on us.role_id = rs.id
	</select>


</mapper>